<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-12 col-md-6 card shadow p-3 mb-5 bg-white rounded">
    <h5 class="text-center">Login</h5>
    <div>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput type="text" placeholder="Insira o nome do seu usuário" />
          @if (getErrorMessage('username')) {
          <mat-error>
            {{getErrorMessage('username')}}
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" placeholder="Insira a sua senha" />
          @if (getErrorMessage('password')) {
          <mat-error>
            {{getErrorMessage('password')}}
          </mat-error>
          }
        </mat-form-field>
      </form>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <button type="button" class="btn btn-link p-0" (click)="openRegisterModal()">Create account</button>
      <button type="button" class="btn btn-info" (click)="openCredentialsModal()">Credentials</button>
      <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="onLogin()">Submit</button>
    </div>

    @if (errorMessage) {
    <div class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
    }
  </div>
</div>

<!-- Modal Template -->
<ng-template #credentialsModalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Credentials</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <div class="modal-body">
    @if (!isCredentialsLoading) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        @for (user of credentials; track user.id) {
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
    <small class="text-muted">Use these credentials to test your login.</small>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancelar')">Close</button>
  </div>
</ng-template>